@font-face {
    font-family: 'miFuente';
    src: url("https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap");
}

@font-face {
    font-family: 'fuente2';
    src: url("https://fonts.googleapis.com/css2?family=Calligraffitti&family=Tangerine:wght@400;700&display=swap");
    
}

@font-face {
    font-family: 'fuente3';
    src: url("https://fonts.googleapis.com/css2?family=B612+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Calligraffitti&family=Petit+Formal+Script&family=Tangerine:wght@400;700&display=swap");
}