
@mixin formato-recetas{
    font-size: 18px;
    font-family: "B612 Mono", monospace;
    font-weight: 400;
    font-style: normal;
    margin-left: 2%;
    text-align: justify;
    color: #635444;
    margin-top: 0%;
    margin-bottom: 1%;
}

@mixin formato-procedimientos{
    font-size: 15px;
    font-family: "B612 Mono", monospace;
    font-weight: 400;
    font-style: normal;
    margin-left: 2%;
    text-align: left;
    color: $color-letras;
    margin-top: 0%;
    margin-bottom: 1%;
}
